{{ partial "header.html" . }}

	<main role="main">
		<article itemscope itemtype="https://schema.org/BlogPosting">
			<h1 class="entry-title" itemprop="headline">{{ .Title }}{{ if .Draft }} #Draft{{ end }}</h1> 
			<span class="entry-meta">
				<time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">
					{{ .Date.Format "Jan 02, 2006" }}
				</time>
				{{ if .Params.categories }} 
					{{ range .Params.categories }}
					<a href="/categories/{{ . | urlize }}"> 
						@{{ . }}
					</a>
					{{ end }}
				{{ end }}
				{{ if .Params.tags }} 
					{{ range .Params.tags }}
					<a href="/tags/{{ . | urlize }}"> 
						#{{ . }}
					</a>
					{{ end }}
				{{ end }}
			</span>			
			<section itemprop="entry-text">
				{{ .Content }}
			</section>
			 <div class="share">
        	<a href="https://twitter.com/share?url={{ .Permalink }}&text={{ .Title }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,height=300,width=600');return false;" class="twitter">
          		<img src="/fonts/twitter.svg" width="18" height="18">
        	</a>
        	<a href="https://getpocket.com/edit?url={{ .Permalink }}&title={{ .Title }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,scrollbars=yes,height=300,width=600');return false;" class="pocket">
          		<img src="/fonts/pocket.svg" width="18" height="18">
        	</a>
      	</div>
		</article>
	</main>

{{ partial "footer.html" . }}