{{ partial "header.html" . }}

<main role="main">
	<h1 class="list-title">Latest Posts</h1>
	<ul class="list-entry">
		{{ range (.Paginator 16).Pages }}
		{{ .Render "summary"}}
		{{ end }}
	</ul>
	<nav class="entry-paginator">
		{{ if .Paginator.HasPrev }}
		<a class="prev" rel="prev" href="{{.Paginator.Prev.URL}}">← Newer</a>
		{{ end }}
		{{ if .Paginator.HasNext }}
		<a class="next" rel="next" href="{{.Paginator.Next.URL}}">Older →</a>
		{{ end }}
	</nav>
</main>

{{ partial "footer.html" . }}